
<!-- TOP NAV -->
<div class="nav-wrapper">
  <embed src="../images/logo.svg"> 

  <div class="ham-menu-wrapper">
    <div class="ham-menu"></div>
    <div class="ham-menu"></div>
    <div class="ham-menu"></div>
  </div>

  <div class="menu-wrapper">
    <p class="menu-text">Home</p>
    <p class="menu-text">Watch Us</p>
    <p class="menu-text">Two Minutes</p>
    <p class="menu-text">Register</p>
  </div>

</div>

<!-- HOME PAGE -->
  <div class="home-wrapper" >
    <embed id="mobile-conffetti" src="../images/mobile-conffetti.svg">
    <img id="browser-conffetti" src="../images/confetti.png">
    <embed class="organ-group" src="../images/organ-group.svg">

      <div id="home-text-wrapper">
        <h1>What can you do in <br> two minutes?</h1>
        <p>It only takes two minutes to register as an organ donor. If you’ve got an Ontario health card and two minutes you can save up to eight lives. Are you ready to make a difference? Click the link to register now, or keep scrolling to learn more.</p>

        <div id="donor-button">
          <a href="https://www.beadonor.ca/"><p id="donor-text">REGISTER TO BE A <span id="donor-red-text"> DONOR </span></p></a>
        </div>
      </div>


    <!-- Seperate organ characters -->
      <!-- <a href="some.html#myThing" stlye="color: white">Link</a> -->
    <!-- <div class="organ-wrapper">
        
      <img src="images/organs/liver.svg" alt="liver Illustration">
      <img src="images/organs/lungs.svg" alt="Lung Illustration">
      <img src="images/organs/heart.svg" alt="Heart Illustration">
    </div> -->
  </div>
  <!-- HOME PAGE ENDS -->

  <!-- VIDEO PAGE -->

  <div class="video-wrapper">
    <div class="video-text-wrapper">
      <h1 id="video-title" class="video-text">Sign up now to save <br> someone later</h1>
      <p class="video-text">There are more than 1,500 people in Ontario that are currently waiting for organ transplants that will save their lives. Registering as an organ donor is simple, fast, and generous. Curious about how it works? We can walk you through the process.</p>
    </div>

    <div id="video-overlay"></div>
      <video autoplay muted loop>
        <source src="../videos/Organ_donation_video_preview.mp4" type="video/mp4">
      </video>
    <!-- </div> -->
  </div>
  <!-- VIDEO PAGE ENDS -->

  <!-- CHARACTER FAQS PAGE -->
  <div class="faqs-wrapper">
    <img id="hair-character" src="../images/hair-character.svg">
    <img id="browser-hair-character" src="../images/browser-hair-character.png">

    <div class="faqs-text-wrapper"> 
      <h1 class="faqs-title">You can't get a haircut in two minutes</h1>
      <p>There are more than 1,500 people in Ontario that are currently waiting for organ transplants that will save their lives. Registering as an organ donor is simple, fast, and generous. Curious about how it works? We can walk you through the process.</p>
    </div>
  </div>
  <!-- CHARACTER FAQS PAGE ENDS -->

  <!-- QUIZ PAGE -->
  <div class="quiz-wrapper">

    <div class="quiz-text-wrapper">
      <h1 id="quiz-title" class="quiz-text">WHICH ORGAN MATCHES YOUR PERSONALITY?</h1>
      <p id="quiz-link" class="quiz-text">Take this quiz to find out</p>
    </div>

    <embed class="organ-group" id="organ-group-quiz" src="../images/organ-group.svg">

  </div>
  <!-- QUIZ PAGE ENDS -->

  <!-- REGISTER PAGE -->
  <div class="register-wrapper">

    <div class="register-text-wrapper">
      <h1 id="register-title">Register Today</h1>
      <p id="register-text">It’s one of the most meaningful things you can do in the same amount of time it takes to scroll through your Instagram feed. All it takes is two minutes.</p>

      <div id="donor-button">
          <a href="https://www.beadonor.ca/"><p id="donor-text">REGISTER TO BE A <span id="donor-red-text"> DONOR </span></p></a>
      </div>
    </div>
    
  </div>
  <!-- REGISTER PAGE ENDS -->

  <!-- Don't really know what this is, I think it's related to the confetti animation -->
  <div class="hidden">
    <svg id="squiggle" xmlns="http://www.w3.org/2000/svg" width="26.1" height="23">
      <path fill="#fb3e34" d="M0 23h6.1v-7.7h9.2V4.6h10.8V0H10.7v9.2H0z"/>
    </svg>
    <svg id="half-circle" xmlns="http://www.w3.org/2000/svg" width="11.9" height="23">
      <path d="M11.9 11.5C11.9 17.9 6.7 23 .4 23c-.5 0-.5-23 0-23 6.3 0 11.5 5.1 11.5 11.5z" fill="#fb3e34"/>
    </svg>
    <svg id="circle" xmlns="http://www.w3.org/2000/svg" width="23" height="23">
      <circle cx="11.5" cy="11.5" r="11.5" fill="#fb3e34"/>
    </svg>
  </div>