
  <div class="wrapper" id="anim-container">
      <!-- <a href="some.html#myThing" stlye="color: white">Link</a> -->
    <div class="organ-wrapper">
        
      <img src="images/organs/liver.svg" alt="liver Illustration">
      <img src="images/organs/lungs.svg" alt="Lung Illustration">
      <img src="images/organs/heart.svg" alt="Heart Illustration">
    </div>
  </div>
  <div class="hidden">
    <svg id="squiggle" xmlns="http://www.w3.org/2000/svg" width="26.1" height="23">
      <path fill="#fb3e34" d="M0 23h6.1v-7.7h9.2V4.6h10.8V0H10.7v9.2H0z"/>
    </svg>
    <svg id="half-circle" xmlns="http://www.w3.org/2000/svg" width="11.9" height="23">
      <path d="M11.9 11.5C11.9 17.9 6.7 23 .4 23c-.5 0-.5-23 0-23 6.3 0 11.5 5.1 11.5 11.5z" fill="#fb3e34"/>
    </svg>
    <svg id="circle" xmlns="http://www.w3.org/2000/svg" width="23" height="23">
      <circle cx="11.5" cy="11.5" r="11.5" fill="#fb3e34"/>
    </svg>
  </div>