
.home-wrapper {
    /*position: absolute;
    top: 0;
    left: 0;*/
    background: #39dedd;
    height: 100vh;
    /*width: 100%;*/
    overflow: hidden;
    /*z-index: -1;
    margin-left: 25px;
    margin-right: 25px;*/
}

/* -----ORGAN AND CONFETTI----- */

#browser-conffetti {
  display: none;
}

#mobile-conffetti {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  display: block;
}

.organ-group {
  position: relative;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
}

#home-text-wrapper {
  top: 20%;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  z-index: 700;
}

#donor-button{
  background-color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 175px;
  height: 35px;
  border-radius: 8px;
  margin-bottom: 25px;
  z-index: 600;
}

#donor-button p {
  color: black;
  font-size: 13px;
  padding-top: 8px;
  font-weight: 700;
}

#donor-red-text {
  color: #f71c1c;
}

/*.organ-wrapper {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 300px;
  z-index: 1000; 
}

.organ-wrapper img:first-child {
  transform: rotate(-40deg);
  left: 30px;
  top: 120px; 
}

.organ-wrapper img:nth-child(2) {
  transform: rotate(-10deg);
  top: 20px;
}

.organ-wrapper img:last-child {
  transform: rotate(40deg);
  top: 100px;
  }

.organ-wrapper img {
  position: relative;
  height: 200px; 
}

.dot {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5; 
}*/

@media screen and (min-width: 375px) {

#home-text-wrapper {
  top: 25%;
}

}

// MEDIA QUERY 535

@media screen and (min-width: 535px) {

.organ-group {
    width: 55%;
    top: 100px;
}

#browser-conffetti {
  position: absolute;
  width: 80%;
  margin-top: 70px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

#mobile-conffetti {
  display: none;
}

}

@media screen and (min-width: 765px) {

#browser-conffetti {
  width: 70%;
  margin-top: 80px;
}

.organ-group {
  width: 350px;
  top: 110px;
}

#home-text-wrapper {
  top: 25%;
  margin: 0 auto;
  width: 70%;
}

}

@media screen and (min-width: 1024px) {

#browser-conffetti {
  width: 60%;
}

.organ-group {
  width: 40%;
  top: 120px;
}

#home-text-wrapper {
  width: 65%;
  top: 25%;
  margin-top: 25px;
  & h1 {
    // font-size: 36px;
    // margin-top: 35px;
  }
  & p {
    // font-size: 18px;
    margin-bottom: 35px;
  }
}

#donor-text {
  font-size: 16px !important;
}

#donor-button {
  width: 225px;
  height: 45px;
}

}

@media screen and (min-width: 1279px) {

#browser-conffetti {
  width: 55%;
}

.organ-group {
  width: 30%;
  top: 140px;
}

#home-text-wrapper {
  width: 50%;
  top: 27%;
}

}

@media screen and (min-width: 1900px) {

#browser-conffetti {
    width: 45%;
}

.organ-group {
    width: 23%;
    top: 170px;
}

#home-text-wrapper {
    width: 35%;
}

#donor-button {
  width: 275px;
  height: 45px;
  & #donor-text {
    font-size: 16px !important;
    padding-top: 9px;
  }
}

}
