
// importing components
@import 'nav';
@import 'home';
@import 'video';
@import 'character-faq';
@import 'quiz';
@import 'register';




#anim-container {
    width: 80%;
    border: 1px solid red;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }