
.video-text-wrapper {
	margin-left: 25px;
	margin-right: 25px;

}

.video-text {
	color: #393939; 
	&#video-title {
		margin-top: 15px;
	}
}

video {
	width: 100%;
	bottom: 0;
	display: block;
}

#video-play-button {
	display: none;
}

.full-video-wrapper {
	display: none;
}

@media screen and (min-width: 535px) {

.video-text#video-title {
	margin-top: 25px;
}

.video-text {
	margin-bottom: 25px;
}

}

@media screen and (min-width: 1024px) {

.video-text-wrapper {
	position: absolute;
	width: 40%;
	right: 0;
	z-index: 5;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 50px;
	& .video-text {
		color: white;
		text-align: right;
	}
}

@media screen and (min-width: 820px) {
	.full-video {
	position: absolute;
    width: 80%;
    left: 50%;
    /* margin: 0 auto; */
    top: 50%;
    transform: translate(-50%, -50%);
}

.full-video-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0;
    transition: all .5s ease;
    left: 100%;
    z-index: 100;
    background-color: rgba(33, 38, 43, 0.96);
    display: block;
}

.full-video-active {
	opacity: 1;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
}

#video-close {
    position: absolute;
    right: 50px;
    top: 25px;
    width: 30px;
    cursor: pointer;
}

}

// .full-video {
// 	position: absolute;
//     width: 80%;
//     left: 50%;
//     /* margin: 0 auto; */
//     top: 50%;
//     transform: translate(-50%, -50%);
// }

// .full-video-wrapper {
//     height: 100%;
//     width: 100%;
//     position: relative;
//     opacity: 0;
//     transition: all .5s ease;
//     left: 100%;
//     z-index: 100;
//     background-color: rgba(33, 38, 43, 0.96);
//     display: block;
// }

// .full-video-active {
// 	opacity: 1;
//     left: 0;
//     top: 0;
//     height: 100%;
//     position: absolute;
// }

.video-wrapper {
	position: relative;
}

.video-wrapper #video-overlay {
	height: 100%;
    width: 100%;
    background: #516273;
    position: absolute;
    z-index: 2;
    opacity: .7;
}

.video-play-button {
	display: block;
	position: absolute;
	z-index: 15;
	margin-left: 50px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

// #video-close {
//     position: absolute;
//     right: 50px;
//     top: 25px;
//     width: 30px;
//     cursor: pointer;
// }

}

@media screen and (min-width: 1280px) {

.video-text-wrapper {
	width: 35%;
}

}

@media screen and (min-width: 1900px) {

.video-text-wrapper {
    width: 30%;
}
}

